doctype html
html
  head
    title Tareas
  body
    form(action="/users" method="POST")
      input(type="email" name="email" placeholder="Correo electronico")
      input(type="password" name="password" placeholder="Contraseña")
      input(type="submit" value="Crear Cuenta")
