doctype html
html
  head
    title Categorias
  body
    form(action="/categories" method="POST")
      input(type="text" name="title" placeholder="Titulo de la Categoria")
      input(type="color" name="color" placeholder="Color de la Categoria")
      input(type="submit" value="Guardar")
