doctype html
html
  head
    title Iniciar sesiòn
  body
    form(action="/sessions" method="POST")
      input(type="email" name="email" placeholder="Correo electronico")
      input(type="password" name="password" placeholder="Contraseña")
      input(type="submit" value="Iniciar sesiòn")